<div class="data">
	<app-flip-card>
		<flip-card-front>
			<mat-card-title>inicio</mat-card-title>
			<mat-card-content id="todo" [cdkDropListData]="todo" [cdkDropListConnectedTo]="['finale','madeit']"
				cdkDropList (cdkDropListDropped)="drop($event)">
				<div class="content" *ngFor="let item of todo" cdkDrag>
					{{item.comida}}
				</div>
				<div class="content">
					{{somaTodo}}
				</div>
			</mat-card-content>
			<mat-form-field appearance="fill">
				<mat-label>Campo</mat-label>
				<input id="todoInput" matInput type="text" placeholder="separe o valor por ;" [(ngModel)]="todoA">
				<button matSuffix mat-icon-button (click)="addValue()">
					<span class="material-icons">check_circle</span>
				</button>
			</mat-form-field>
		</flip-card-front>
		<flip-card-back>
			<canvas id="piechart"></canvas>
		</flip-card-back>
	</app-flip-card>


	<app-flip-card>
		<flip-card-front>
			<mat-card-title>meio</mat-card-title>
			<mat-card-content id="madeit" [cdkDropListData]="madeit" [cdkDropListConnectedTo]="['todo','finale']"
				cdkDropList (cdkDropListDropped)="drop($event)">
				<div class="content" *ngFor="let item of madeit" cdkDrag>
					{{item.comida}}
				</div>
				<div class="content">
					{{somaMadeit}}
				</div>
			</mat-card-content>
		</flip-card-front>
		<flip-card-back>
			<canvas id="madeits"></canvas>
		</flip-card-back>
	</app-flip-card>

	<app-flip-card>
		<flip-card-front>
			<mat-card-title>fim</mat-card-title>
			<mat-card-content id="finale" [cdkDropListData]="finale" [cdkDropListConnectedTo]="['todo','madeit']"
				cdkDropList (cdkDropListDropped)="drop($event)">
				<div class="content" *ngFor="let item of finale" cdkDrag>
					{{item.comida}}
				</div>
				<div class="content">
					{{somaFinale}}
				</div>
			</mat-card-content>
		</flip-card-front>
		<flip-card-back>
			<canvas id="finales"></canvas>
		</flip-card-back>
	</app-flip-card>

</div>
