<div class="charts">

	<mat-card >
		<mat-card-title>{{cotacoes[0].name}}</mat-card-title>
		<mat-card-content>
			<canvas id="BTC"></canvas>
			<div class="dados">
				<div class="dado">
					<p>ask:</p>
					<span>{{cotacoes[0].ask | currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>valor:</p>
					<span>{{cotacoes[0].bid| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>high:</p>
					<span>{{cotacoes[0].high| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>low:</p>
					<span>{{cotacoes[0].low| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>pctChange:</p>
					<span>{{cotacoes[0].pctChange}}</span>
				</div>
				<div class="dado">
					<p>ask:</p>
					<span>{{cotacoes[0].varBid}}</span>
				</div>
			</div>
			<div class="resume">
				<span>Valor Atual: {{cotacoes[0].bid| currency: 'BRL'}}</span>
				<span>Ultima atualização: {{cotacoes[0].create_date | date: "dd/MM/yyyy hh:mm:ss"}}</span>
			</div>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-title>{{cotacoes[1].name}}</mat-card-title>
		<mat-card-content>
			<canvas id="EUR"></canvas>
			<div class="dados">
				<div class="dado">
					<p>ask:</p>
					<span>{{cotacoes[1].ask | currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>valor:</p>
					<span>{{cotacoes[1].bid| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>high:</p>
					<span>{{cotacoes[1].high| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>low:</p>
					<span>{{cotacoes[1].low| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>pctChange:</p>
					<span>{{cotacoes[1].pctChange}}</span>
				</div>
				<div class="dado">
					<p>ask:</p>
					<span>{{cotacoes[1].varBid}}</span>
				</div>
			</div>
			<div class="resume">
				<span>Valor Atual: {{cotacoes[1].bid| currency: 'BRL'}}</span>
				<span>Ultima atualização: {{cotacoes[1].create_date | date: "dd/MM/yyyy hh:mm:ss"}}</span>
			</div>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-title>{{cotacoes[2].name}}</mat-card-title>
		<mat-card-content>
			<canvas id="USD"></canvas>
			<div class="dados">
				<div class="dado">
					<p>ask:</p>
					<span>{{cotacoes[2].ask | currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>valor:</p>
					<span>{{cotacoes[2].bid| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>high:</p>
					<span>{{cotacoes[2].high| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>low:</p>
					<span>{{cotacoes[2].low| currency: 'BRL'}}</span>
				</div>
				<div class="dado">
					<p>pctChange:</p>
					<span>{{cotacoes[2].pctChange}}</span>
				</div>
				<div class="dado">
					<p>ask:</p>
					<span>{{cotacoes[2].varBid}}</span>
				</div>
			</div>
			<div class="resume">
				<span>Valor Atual: {{cotacoes[2].bid| currency: 'BRL'}}</span>
				<span>Ultima atualização: {{cotacoes[2].create_date | date: "dd/MM/yyyy hh:mm:ss"}}</span>
			</div>
		</mat-card-content>
	</mat-card>
</div>

<div class="year">
	<app-currency [name]="nome"></app-currency>
</div>
